%h2
  Wijzig #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password, t('devise.form.password')
    = f.password_field :password
    %i (laat leeg als je je paswoord niet wil wijzigen)
  .field
    = f.label :password_confirmation, t('devise.form.password_confirmation')
    = f.password_field :password_confirmation
  .field
    = f.label :name, t('devise.form.nickname')
    = f.text_field :name
  .field
    = f.label :fullname, t('devise.form.fullname')
    = f.text_field :fullname
  .field
    = f.label :current_password, "Huidig paswoord"
    = f.password_field :current_password
    %i (we hebben je huidige paswoord om je wijzigingen te bevestigen)
  .field
    = f.submit "Aanpassen"
%h3 Verwijder mijn account
%p
  Ontevreden? #{link_to "Verwijder mijn account", registration_path(resource_name), :confirm => "Ben je zeker?", :method => :delete}.
= link_to t('common.back'), :back
