%h1 Vocabularium
%p= t 'home.index.short_description'

%h3= t 'home.index.operation'
%p
  %ol.big_numbers
    %li
      %p= t 'home.index.description_step1'
    %li
      %p= t 'home.index.description_step2'
    %li
      %p= t 'home.index.description_step3'

%h3= t 'home.index.next_action'

%table.start_actions
  %tr
    %td= link_to t('home.index.add_packet'), new_packet_path
    != home_link_to_new_test(current_user)
    != home_link_to_do_test(current_user)
