%h1= "Test-resultaten van test #{@survey_taken.survey.name}"
%p= "De test is afgelegd op #{@survey_taken.updated_at}"

%h3 Resultaat
%table.datatable-details
  %tr
    %td Juiste antwoorden
    %td= "#{@survey_taken.nr_correct} / #{@survey_taken.nr_questions} "
  %tr
    %td Score
    %td= '%.2f' % @survey_taken.score


%h3 Antwoorden
%table.grid
  %thead
    %tr
      %th #
      %th Vraag
      %th Antwoord
      %th Juist antwoord
  %tbody
    - @survey_taken.survey_questions.each do |question|
      %tr
        %td= question.order
        %td= question.word.original
        %td!= get_question_answer(question)
        %td= question.word.translation


%table

= link_to "Terug", surveys_path
