#login
  %h2 Aanmelden
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password, 'Paswoord'
      = f.password_field :password
    - if devise_mapping.rememberable?
      .field
        = f.label :remember_me, 'Onthoud mijn gegevens'
        = f.check_box :remember_me
    .field
      = f.submit "Aanmelden"
  = render :partial => "devise/shared/links"
