= form_for @packet do |f|
  -if @packet.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@packet.errors.count, "error")} prohibited this packet from being saved:"
      %ul
        - @packet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Naam"
    = f.text_field :name
  = f.fields_for :words do |word_form|
    = render :partial => 'word', :locals => { :word => word_form}
  = link_to 'Voeg woord toe', :class => "add_word_link"
  .actions
    = f.submit 'Bewaar'
