= form_for @packet do |f|
  -if @packet.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@packet.errors.count, "error")} prohibited this packet from being saved:"
      %ul
        - @packet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Naam"
    = f.text_field :name

  %h3 Woorden
  %p Let er zeker op dat je de woorden correct invult, zodat je ook correct overhoord wordt.
  %p
    Als je in een tekstveld op <tab> drukt, spring je naar het volgende veld.
    Als je in het laatste veld op <tab> druk, begin je automatisch aan een nieuw woord.

  = f.fields_for :words do |word_form|
    = render :partial => 'word', :locals => { :f => word_form}

  .field
    = add_child_link 'Voeg woord toe', :words

  = new_child_fields_template(f, :words)

  .actions
    = f.submit 'Bewaar'
