%h1 Listing packets

%table
  %tr
    %th Name
    %th Course
    %th
    %th
    %th

  - @packets.each do |packet|
    %tr
      %td= packet.name
      %td= packet.course_id
      %td= link_to t('common.show'), packet
      %td= link_to t('common.edit'), edit_packet_path(packet)
      %td= link_to t('common.destroy'), packet, :confirm => t('common.you_sure'), :method => :delete

%br

= link_to 'New packet', new_packet_path
