%h3= "Woordenlijst #{@packet.name}"

%table.grid
  %thead
    %tr
      %th Woord
      %th Vertaling
  - @packet.words.each do |word|
    %tr
      %td= word.original
      %td= word.translation

= link_to t('common.edit'), edit_packet_path(@packet)
\|
= link_to t('common.back'), packets_path
