= form_for @survey do |f|
  -if @survey.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@survey.errors.count, "error")} prohibited this packet from being saved:"
      %ul
        - @packet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Naam"
    = f.text_field :name

  %h3 Woordenlijsten
  %p Kies een of meerdere woordenlijsten die je wilt laten overhoren.

  - @packets.each do |packet|
    %div
      = check_box_tag "survey[packet_ids][]", packet.id, @survey.packets.include?(packet)
      = packet.name

  .actions
    = f.submit 'Bewaar'
