= form_for @survey do |f|
  = error_messages_for(@survey)

  .field
    = f.label :name, "Naam"
    = f.text_field :name

  %h3 Woordenlijsten
  %p Kies een of meerdere woordenlijsten die je wilt laten overhoren.

  - @packets.each do |packet|
    %div
      = check_box_tag "survey[packet_ids][]", packet.id, @survey.packets.include?(packet)
      = packet.name

  .actions
    = f.submit 'Bewaar'
