%h1 Lijst van testen

%table
  %tr
    %th Naam
    %th Aantal lijsten
    %th Aantal woorden
    %th Genomen testen
    %th

  - @surveys.each do |survey|
    %tr
      %td= survey.name
      %td= survey.packets.size
      %td= total=0; survey.packets.each{|p| total = total + p.words.size}; total
      %td= survey.survey_takens.size
      %td
        = link_to "Doe de Test", take_survey_path(survey)
        = link_to t('common.show'), survey
        = link_to t('common.edit'), edit_survey_path(survey)
        = link_to t('common.destroy'), survey, :confirm => t('common.you_sure'), :method => :delete

%br

= link_to 'Nieuwe test aanmaken', new_survey_path
