%h3= "Test: #{@survey.name}"

%table.grid
  %thead
    %tr
      %th Woord
      %th Vertaling
  %tbody
    - @survey.packets.each do |packet|
      - packet.words.each do |word|
        %tr
          %td= word.original
          %td= word.translation

%h3 Resultaten

-if @survey.survey_takens.size > 0
  %table.grid
    %thead
      %tr
        %th Test begonnen
        %th Test beeindigd
        %th Correct/Totaal
        %th Score
        %th
    %tbody
      -@survey.survey_takens.each do |tested|
        %tr
          %td= l tested.created_at
          %td= l tested.updated_at
          %td== #{tested.nr_correct} / #{tested.nr_questions}
          %td= tested.score.nil? ? 'not completed yet' : '%.2f' % tested.score
          %td= link_to (tested.score.nil? ? "Vervolledig test" : "Toon test"), survey_taken_path(tested)
-else
  %p Nog niet getest.

= link_to t('common.edit'), edit_survey_path(@survey)
\|
= link_to t('common.back'), surveys_path
