%p
  %b Naam
  = @course.name
%p
  %b Beschrijving
  = @course.description
%p
  %b Gebruiker:
  = @course.user.email

= link_to t('common.edit'), edit_course_path(@course)
\|
= link_to t('common.back'), courses_path
