%p= t('devise.mailer.reset_password_instructions.subject', :name => @resource.email)
%p= t('devise.mailer.reset_password_instructions.desc_line1')
%p= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('devise.mailer.reset_password_instructions.desc_line2')
%p= t('devise.mailer.reset_password_instructions.desc_line3')
