%p#notice= notice

%p
  %b Name:
  = @user_language.name
%p
  %b Abbr:
  = @user_language.abbr
%p
  %b User:
  = @user_language.user_id

= link_to 'Edit', edit_user_language_path(@user_language)
\|
= link_to 'Back', user_languages_path
